.task-log {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
  box-sizing: border-box;
  width: 750px;
  background: var(--ligt-primary-color);
  flex-wrap: wrap;
  padding: 8px;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 5px 0px var(--shadow-color);
}

.task-log .task-desc label {
  display: block;
}

.task-log .task-time {
  color: #52469C;
  display: flex;
  align-items: center;

}
.task-log .task-date-time {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}
.task-log .task-date-time>.task-dates {
  font-size: 10px;
  color:rgb(116, 137, 193)

}

.task-log .color {
  background-color: rgb(250, 250, 116);
  border-radius: 100%;
  width: 15px;
  height: 15px;
}

.task-log .controlbtn {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}