.task-log {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;
  box-sizing: border-box;
  width: 750px;
  background: var(--ligt-primary-color);
  flex-wrap: wrap;
  padding: 8px;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 5px 0px var(--shadow-color);
}

.task-log .task-desc label {
  display: block;
  margin-left: 17px;
}

.task-log .task-time {
  color: #52469c;
  display: flex;
  align-items: center;
}
.task-log .task-date-time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.task-log .task-date-time > .task-dates {
  font-size: 10px;
  color: rgb(116, 137, 193);
}

.task-log .color {
  border-radius: 100%;
  width: 22px;
  height: 22px;
}

.task-log .control-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: -50px;
}
