.button > button {
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--grey-color);
  border-radius: var(--border-radius);
  padding: 2px 5px;
}

.button button:active {
  background-color: var(--grey-color);
}

.primary.button > button {
  background-color: var(--primary-color);
  color: white;
}

.primary.button > button:active {
  background-color: white;
  color: black;
}
