.dashboard .top {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.dashboard .bar-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
