.dashboard .top {
  display: flex;
  justify-content: space-around;
}

.dashboard .date-picker {
  margin: 20px 0 0 20px;
}

.dashboard .bar-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px ;
}