.dashboard .top {
  display: flex;
  justify-content: center;
}

.dashboard .date-picker {
  
}

.dashboard .pie-chart {
  display: flex;
  border: 1px solid red;
}

.dashboard .bar-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px ;
}