label {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  width: min-content;
  padding: 5px;
}

.stopwatch-container {
  /* height: 30vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-display {
  display: flex;
  color: #666;
}

.timer-display p {
  margin: 0;
  font-size: 20px;
  letter-spacing: 2px;
}

.timer-display span {
  font-size: 22px;
  position: relative;
  top: -3px;
  letter-spacing: 2px;
}