.project-card {
  width: 200px;
  border-radius: 8px;
  padding: 12px;
  background-color: white;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  max-height: 200px;
  text-align: center;
}

.project-card h4 {
  text-align: left;
  margin: 10px 0px;
  font-size: 15px;
  text-transform: capitalize;
}

.project-card p {
  font-size: 12px;
  color: #5d5c5c;
}

.project-card .color {
  border-radius: 4px;
  display: inline-block;
  width: 14px;
  height: 14px;
  box-shadow: 0px 1px 1px 1px var(--shadow-color);
}

.project-card .project-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card .proj-tooltip-btn {
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 0;
  background-color: none;
  border: none;

}

.project-card .proj-tooltip-btn:hover,
.project-card .proj-tooltip-btn:active {
  outline: none;
  background-color: none;
}