.projects-page {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
}

.projects-page .projects-page-inner {
  width: 950px;
  display: flex;
  align-items: center;
}

.projects-page .new-project-btn {
  margin-left: auto;
}

.projects-page .projects-board {
  margin-top: 10px;
  width: 950px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: stretch; */
  /* justify-content: center; */
  /* flex-direction: row; */
}

.projects-page .project-card {
  margin: 5px;
}
