.signup h3 {
  font-size: var(--subheader-font-size);
}

.signup .signup-logo {
  display: flex;
  align-items: center;
}

.signup .logo-text {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  /* align-items: center; */
}

.signup h5 {
  margin: 0;
}

.signup h4 {
  font-size: var(--subheader-font-size);
  color: var(--primary-color);
  display: inline;
  margin: 0;
}

.signup img {
  display: inline;
}

.signup {
  font-size: var(--body-font-size);
  box-shadow: 0px 0px 5px 0px var(--shadow-color);
  width: 300px;
  margin: 5% auto;
  padding: 20px 25px;
  background-color: white;
  border-radius: var(--border-radius);
}

.signup .button>button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 7px;
}

.signup .input>input {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 7px;
  box-sizing: border-box;
}