@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --primary-color: #52469C;
  --ligt-primary-color: #c4d3fa;
  --background-color: #f1f8ff;
  --shadow-color: #bcd2e7;

  --grey-color: #a9a9a9;
  --header-font-size: 30px;
  --subheader-font-size: 18px;
  --input-font-size: 15px;
  --body-font-size: 14px;

  --border-radius: 5px;

  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
}