@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  zoom: 120%;
  --primary-color: #52469C;
  --ligt-primary-color: #c4d3fa;
  --background-color: #f1f8ff;
  --shadow-color: #bcd2e7;

  --grey-color: #dbdcde;
  --header-font-size: 30px;
  --subheader-font-size: 18px;
  --input-font-size: 14px;
  --body-font-size: 13px;

  --border-radius: 4px;

  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);

  /*   box-shadow: 0px 0px 5px 0px var(--shadow-color); */
}